* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body#splash {
    background-image: url('zdjecia/las_1280.jpg');
    background-position-x: -50px;
    /* background-size: 942px 568px; */
    
}


div#white {
    background-color: white;
    opacity: 0;
    transition: .6s;
    height: 100%;
    width: 100vw;
    position: fixed;
    top:0;
    left:0;
    z-index: 98;
}

div#container {
    min-height: 100vh;
    overflow: hidden
}

div#white.disappear {
    opacity: 1;
    transition: .6s;
}

div#white.none {
    display: none;
}

header {
    height: 190px;
    background-image: url('zdjecia/poznan_640.jpg');
    background-size: cover;
    background-position-y: -30px;
    position: relative;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    position: sticky;
    top:-90px;
    z-index: 90;
    transition: .3s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header.small {
    height: 85px;
}

header img {
    width: 80px;
    position: absolute;
    right: 22px;
    top: 10px;
}

h1, h2, li {
    font-size: 38px;
    color :white;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: bold;
}

h1 {
    position: absolute;
    white-space: pre-line;
    left :20px;
    bottom: 6px;
    line-height: 50px;
}

h2 {
    font-size: 32px;
    position: relative;
}

h2 i {
    font-size: 28px;;
}

h2, p {
    color: #545454;
    line-height: 30px;
    margin-bottom: 20px;
}

h2 img {
    position: absolute;
    height: 70px;
    right: 0
}

#details h2 img {
    position: absolute;
    height: 150px;
    opacity: 0.09;
    right: 5px;
    top:30px;
}

main {
    margin: 22px 20px 10px 20px
}


section.button {
    position: relative;
    cursor: pointer;
}

section#details {
    display: none;
}

p {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 26px;
}

ul {
    position: absolute;
    left: 30px;
    bottom: 20px;
    list-style: none;
    /* z-index: 99; */
}

li {
    cursor: pointer;
    line-height: 60px;
}

h1.splash {
    position: absolute;
    left: 30px;
    top: 10px;
}

h2 i.fa-chevron-down {
    transition: .5s
}

h2 i.fa-chevron-down.active{
    transform: rotate(180deg);
}