* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body#splash {
    background-image: url('zdjecia/las_1280.jpg');
    background-position-x: -50px;
    background-size: 942px 568px;
    
}

body {
    overflow-x: hidden;
}

div#white {
    background-color: white;
    opacity: 0;
    transition: .6s;
    height: 100%;
    width: 100vw;
    position: fixed;
    top:0;
    left:0;
    z-index: 98;
}

div#container {
    min-height: 100vh;
    /* overflow: hidden */
}

div#white.disappear {
    opacity: 1;
    transition: .6s;
}

div#white.none {
    display: none;
}

header#poznan {
    background-image: url('zdjecia/poznan_640.jpg');
    background-size: cover;
    background-position-y: -30px;
}

header#warsaw {
    background-image: url('zdjecia/warszawa_640.jpg');
    background-size: cover;
}

header#lodz {
    background-image: url('zdjecia/lodz_640.jpg');
    background-size: cover;
}

header#opole {
    background-image: url('zdjecia/opole_640.jpg');
    background-size: cover;
    background-position-y: -30px;
}

header {
    height: 190px;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    position: sticky;
    position: -webkit-sticky;
    top:-90px;
    z-index: 90;
    transition: .3s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header.small {
    height: 85px;
}

header img {
    width: 80px;
    position: absolute;
    right: 22px;
    top: 10px;
}

h1, h2, li {
    font-size: 38px;
    color :white;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: bold;
}

h1 {
    position: absolute;
    white-space: pre-line;
    left :20px;
    bottom: 6px;
    line-height: 50px;
}

h2 {
    font-size: 32px;
    position: relative;
}

h2 i {
    font-size: 28px;;
}

h2, p {
    color: #545454;
    line-height: 30px;
    margin-bottom: 20px;
}

h2 img {
    position: absolute;
    height: 70px;
    right: 0
}

h3.splash {
    position: absolute;
    color: white;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: 400;
    border: 2px solid white;
    border-radius: 5px;
    padding: 1px 7px;
    bottom: 10px;
    right: 10px;
}

#details h2 img {
    position: absolute;
    height: 150px;
    opacity: 0.09;
    right: 5px;
    top:30px;
}

main {
    margin: 22px 20px 10px 20px
}

main#data h2 {
    text-align: center;
    font-size: 24px;
}

main#data section {
    margin-bottom: 45px;
}

main#data section p {
    display: inline-block;
    width: 49%;
}

main#data section p:first-of-type {
    font-size: 20px;
    text-align: right;
    padding-right: 10px;
}

main#data section p:last-of-type {
    font-size: 30px;
    display: inline-block;
    padding-left: 10px;
}

main#data section#hightemp p:last-of-type{
    color:#b93434;
}

main#data section#lowtemp p:last-of-type {
    color: #4798d6
}

main#data section:last-of-type {
    margin-bottom: 0;
}

section.button {
    position: relative;
    cursor: pointer;
}

section#details {
    display: none;
}

p {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 26px;
}

ul {
    position: absolute;
    left: 30px;
    bottom: 20px;
    list-style: none;
    /* z-index: 99; */
}

li {
    cursor: pointer;
    line-height: 60px;
}

h1.splash {
    position: absolute;
    left: 30px;
    top: 10px;
}

h2 i.fa-chevron-down {
    transition: .5s
}

h2 i.fa-chevron-down.active{
    transform: rotate(180deg);
}

/* media queries for mobiles portrait*/

@media (min-height: 569px)
{ 
    body#splash{
        background-size: auto
    }
}

@media (min-height: 640px)
{
    body#splash{
        background-position-y: -40px;
    }
}

@media (min-height: 730px)
{
    body#splash{
        background-position-y: 0
    }
}

@media (min-height: 773px)
{
    body#splash
    {
        background-image: url('zdjecia/las_1920.jpg');
        background-position-y: -80px;
    }
}

/* media queries for mobiles landscape */

@media (orientation: landscape)
{
    header#poznan{
        background-position-y: -130px;
    }

    header#lodz {
        background-position-y: -40px;
    }

    li,h1 {
        line-height: 45px;
    }

    li {
        font-size: 32px;
    }

    body#splash{
        background-position-y: -190px
    }

    main h2 {
        font-size: 26px;
    }

    main p {
        font-size: 22px;
    }
}

@media (orientation: landscape) and (min-width: 640px)
{

    header#poznan{
        background-image: url(zdjecia/poznan_1280.jpg);
        background-position-y: -160px;
    }

    header#warsaw {
        background-image: url(zdjecia/warszawa_1280.jpg);
        background-position-y: -20px;
    }

    header#opole {
        background-image: url(zdjecia/opole_1280.jpg);
        background-position-y: -40px;
    }

    header#lodz {
        background-image: url(zdjecia/lodz_1280.jpg);
        background-position-y: -70px;
    }

    body#splash {
        background-position-y: -150px
    }
}

@media (orientation: landscape) and (min-width: 730px) and (max-height: 500px)
{
    header#poznan{
        background-position-y: -190px;
    }

    header#warsaw {
        background-position-y: -30px;
    }

    header#opole {
        background-position-y: -65px;
    }

    header#lodz {
        background-position-y: -90px;
    }

    body#splash {
        background-position-y: -100px
    }
}

@media (orientation: landscape) and (min-width: 810px) and (max-height: 500px) {
    header#poznan{
        background-position-y: -230px;
    }

    header#warsaw {
        background-position-y: -50px;
    }

    header#opole {
        background-position-y: -75px;
    }

    header#lodz {
        background-position-y: -110px;
    }
}

@media (orientation: landscape) and (min-width: 810px) and (max-height:500px)
{
    body#splash {
        background-position-y: -130px
    }
}

/* mqueries for iPad */
@media (min-width: 670px) and (min-height: 670px)
{
    body#splash {
        background-image: url(zdjecia/mech_1034x1280.jpg)
    }
}

@media (min-width: 768px) and (min-height: 768px)
{
    body#splash {
        background-image: url(zdjecia/mech_1034x1280.jpg);
    }

    h1.splash {
        font-size: 70px;
        line-height: 115px
    }

    li {
        font-size: 70px;
        line-height: 100px
    }

    h3.splash {
        font-size: 40px;
        line-height: 50px;
        border-width: 3px;
        bottom: 25px;
        right: 15px
    }

    header {
        height: 360px;
        top: -180px
    }
    header h1 {
        font-size: 70px;
        line-height: 90px
    }

    header img {
        height: 170px;
        width: auto;
    }

    main h2 {
        font-size: 45px;
        line-height: 55px
    }

    main h2 img {
        height: 120px
    }

    #details h2 img {
        height: 200px;
        right: 25px;
        top: 30px
    }

    main#data h2 {
        font-size: 35px;
    }

    main p {
        font-size: 32px;
        line-height: 37px
    }

    main#data section p:first-of-type {
        font-size: 30px;
    }

    main#data section p:last-of-type {
        font-size: 37px;
    }
}

@media(min-width: 1024px)
{
    body#splash{
        background-image: url(zdjecia/mech-ipad.jpg);
        background-position-x: 0px
    }
}
@media (orientation: landscape) and (min-width: 1350px)
{
    body#splash {
        background-image: url(zdjecia/mech_ipadpro.jpg)
    }

    header#poznan {
        background-position-y: -340px;
    }

    header#lodz {
        background-position-y: -160px;
    }

    header#opole {
        background-position-y: -110px
    }
}