* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body#splash {
    background-image: url('zdjecia/las_1280.jpg');
    background-position-x: -50px;
    background-size: 942px 568px;
    
}

body {
    overflow-x: hidden;
}

div#white {
    background-color: white;
    opacity: 0;
    transition: .6s;
    height: 100%;
    width: 100vw;
    position: fixed;
    top:0;
    left:0;
    z-index: 98;
}

div#container {
    min-height: 100vh;
    /* overflow: hidden */
}

div#white.disappear {
    opacity: 1;
    transition: .6s;
}

div#white.none {
    display: none;
}

header#poznan {
    background-image: url('zdjecia/poznan_640.jpg');
    background-size: cover;
    background-position-y: -30px;
}

header#warsaw {
    background-image: url('zdjecia/warszawa_640.jpg');
    background-size: cover;
}

header#lodz {
    background-image: url('zdjecia/lodz_640.jpg');
    background-size: cover;
}

header#opole {
    background-image: url('zdjecia/opole_640.jpg');
    background-size: cover;
    background-position-y: -30px;
}

header {
    height: 190px;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    position: sticky;
    position: -webkit-sticky;
    top:-90px;
    z-index: 90;
    transition: .3s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header.small {
    height: 85px;
}

header img {
    width: 80px;
    position: absolute;
    right: 22px;
    top: 10px;
}

h1, h2, li {
    font-size: 38px;
    color :white;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: bold;
}

h1 {
    position: absolute;
    white-space: pre-line;
    left :20px;
    bottom: 6px;
    line-height: 50px;
}

h2 {
    font-size: 32px;
    position: relative;
}

h2 i {
    font-size: 28px;;
}

h2, p {
    color: #545454;
    line-height: 30px;
    margin-bottom: 20px;
}

h2 img {
    position: absolute;
    height: 70px;
    right: 0
}

h3.splash {
    position: absolute;
    color: white;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: 400;
    border: 2px solid white;
    border-radius: 5px;
    padding: 1px 7px;
    bottom: 10px;
    right: 10px;
}

#details h2 img {
    position: absolute;
    height: 150px;
    opacity: 0.09;
    right: 5px;
    top:30px;
}

main {
    margin: 22px 20px 10px 20px
}

main#data h2 {
    text-align: center;
    font-size: 24px;
}

main#data section {
    margin-bottom: 45px;
}

main#data section p {
    display: inline-block;
    width: 49%;
}

main#data section p:first-of-type {
    font-size: 20px;
    text-align: right;
    padding-right: 10px;
}

main#data section p:last-of-type {
    font-size: 30px;
    display: inline-block;
    padding-left: 10px;
}

main#data section#hightemp p:last-of-type{
    color:#b93434;
}

main#data section#lowtemp p:last-of-type {
    color: #4798d6
}

main#data section:last-of-type {
    margin-bottom: 0;
}

section.button {
    position: relative;
    cursor: pointer;
}

section#details {
    display: none;
}

p {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 26px;
}

ul {
    position: absolute;
    left: 30px;
    bottom: 20px;
    list-style: none;
    /* z-index: 99; */
}

li {
    cursor: pointer;
    line-height: 60px;
}

h1.splash {
    position: absolute;
    left: 30px;
    top: 10px;
}

h2 i.fa-chevron-down {
    transition: .5s
}

h2 i.fa-chevron-down.active{
    transform: rotate(180deg);
}

@media (min-height: 569px)
{ 
    body#splash{
        background-size: auto
    }
}

@media (min-height: 640px)
{
    body#splash{
        background-position-y: -40px;
    }
}

@media (min-height: 730px)
{
    body#splash{
        background-position-y: 0
    }
}

@media (min-height: 773px)
{
    body#splash
    {
        background-image: url('zdjecia/las_1920.jpg');
        background-position-y: -80px;
    }
}
